<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="flex align-items-center justify-content-between">
            <h2 class="m-0">Manage Items</h2>
          </div>
        </ng-template>
        <ng-template pTemplate="right">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedItems()" [disabled]="!selectedItems || !selectedItems.length"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="items" [rows]="10" [paginator]="true" responsiveLayout="scroll"
        [(selection)]="selectedItems" [rowHover]="true" dataKey="id" [totalRecords]="items.length"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="amount">Amount <p-sortIcon field="amount"></p-sortIcon></th>
                <th pSortableColumn="datePurchased">Date Purchased <p-sortIcon field="datePurchased"></p-sortIcon></th>
                <th pSortableColumn="purchasePrice">Purchase Price <p-sortIcon field="purchasePrice"></p-sortIcon></th>
                <th pSortableColumn="itemTypeId">Item Type Id <p-sortIcon field="itemTypeId"></p-sortIcon></th>
                <th pSortableColumn="locationId">Location Id<p-sortIcon field="locationId"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td>
                    <p-tableCheckbox [value]="item"></p-tableCheckbox>
                </td>
                <td>{{item.id}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.datePurchased}}</td>
                <td>{{item.purchasePrice | currency }}</td>
                <td>{{item.itemTypeId}}</td>
                <td ><a [routerLink]="['/location', item.id]">{{item.locationId}}</a></td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="edit(item)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteItem(item)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="dialog" [style]="{width: '450px'}" header="Item Details" [modal]="true" styleClass="p-fluid" >
    <ng-template pTemplate="content">
        <div class="field">
            <label for="amount">Amount</label>
            <input type="number" pInputText id="amount" [(ngModel)]="item.amount" />
        </div>
        <div class="field">
            <label for="datePurchased">Date Purchased</label>
            <input type="date" id="datePurchased" pInputText [(ngModel)]="item.datePurchased" />
        </div>
        <div class="field">
          <label for="purchasePrice">Purchase Price</label>
          <input type="number" id="purchasePrice" pInputText [(ngModel)]="item.purchasePrice" />
        </div>
        <div class="field">
          <label for="itemTypeId">Item Type Id</label>
          <input type="number" id="itemTypeId" pInputText [(ngModel)]="item.itemTypeId" required/>
        </div>
        <div class="field">
          <label for="locationId">Location Id</label>
          <input type="number" id="locationId" pInputText [(ngModel)]="item.locationId" />
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveItem()"></button>
    </ng-template>
</p-dialog>