<p-table [value]="[data]" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Warehouse Id</th>
            <th>Location Id</th>
            <th>Row</th>
            <th>Block</th>
            <th>Shelf</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Country</th>
            <th>Postal Code</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
        <tr>
            <td>{{data.warehouseId}}</td>
            <td>{{data.locationId}}</td>
            <td>{{data.row}}</td>
            <td>{{data.block}}</td>
            <td>{{data.shelf}}</td>
            <td>{{data.address}}</td>
            <td>{{data.city}}</td>
            <td>{{data.state}}</td>
            <td>{{data.country}}</td>
            <td>{{data.postalCode}}</td>
        </tr>
    </ng-template>
</p-table>

