<p-table [value]="[fullLocation]" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Warehouse Id</th>
            <th>Location Id</th>
            <th>Row</th>
            <th>Block</th>
            <th>Shelf</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Country</th>
            <th>Postal Code</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-fullLocation>
        <tr>
            <td>{{fullLocation.warehouseId}}</td>
            <td>{{fullLocation.locationId}}</td>
            <td>{{fullLocation.row}}</td>
            <td>{{fullLocation.block}}</td>
            <td>{{fullLocation.shelf}}</td>
            <td>{{fullLocation.address}}</td>
            <td>{{fullLocation.city}}</td>
            <td>{{fullLocation.state}}</td>
            <td>{{fullLocation.country}}</td>
            <td>{{fullLocation.postalCode}}</td>
        </tr>
    </ng-template>
</p-table>

